# PostgreSQL Client Authentication Configuration File
     # ===================================================
     # TYPE DATABASE   USER    ADDRESS    METHOD
     
     # "local" is for Unix domain socket connections only
     local   all   all                      trust
     
    local   replication   repmgr                      trust
    host    replication   repmgr      127.0.0.1/32    trust
    host    replication   repmgr      {{ hostvars['localhost']['master'] }}/24       trust
    host    replication   repmgr      {{ hostvars['localhost']['standby'] }}/24       trust


    host    replication   postgres    {{ hostvars['localhost']['master'] }}/24       trust
    host    replication   postgres    {{ hostvars['localhost']['standby'] }}/24       trust

    local   repmgr        repmgr                      trust
    host    repmgr        repmgr      127.0.0.1/32    trust
    host    repmgr        repmgr      {{ hostvars['localhost']['master'] }}/24       trust
    host    repmgr        repmgr      {{ hostvars['localhost']['standby'] }}/24       trust


    local   repmgr        postgres                    trust
    host    repmgr        postgres    {{ hostvars['localhost']['master'] }}/24       trust
    host    repmgr        postgres    {{ hostvars['localhost']['standby'] }}/24       trust
 
    host    all           all         ::1/128                trust
    host    all           all         127.0.0.1/32          trust 
