#!/bin/bash

sudo su - postgres -c"echo \"export PGDATA=/pgdata/pgdata01\">> ~/.bash_profile"
sudo su - postgres -c"echo \"export PATH=/postgres/system/pgsql/bin:$PATH\">> ~/.bash_profile"
sudo su - postgres -c"source ~/.bash_profile"

sudo -i -u postgres psql -h localhost postgres << EOF
CREATE USER repmgr;
ALTER USER repmgr WITH SUPERUSER;
CREATE DATABASE repmgr OWNER repmgr;
ALTER USER repmgr SET search_path TO repmgr, "\$user", public;
EOF
