#!/bin/bash

sudo -i -u postgres psql postgres << EOF
CREATE USER repmgr;
ALTER USER repmgr WITH SUPERUSER;
CREATE DATABASE repmgr OWNER repmgr;
ALTER USER repmgr SET search_path TO repmgr, "\$user", public;
EOF
