#!/bin/bash

sudo su - postgres -c"echo \"export PGDATA=/pgdata/pgdata01\">> ~/.bash_profile"
sudo su - postgres -c"echo \"export PATH=/postgres/system/pgsql/bin:$PATH\">> ~/.bash_profile"
sudo su - postgres -c"source ~/.bash_profile"

sudo -i -u postgres psql postgres << EOF
 GRANT ALL PRIVILEGES ON DATABASE "repmgr" to postgres;
EOF
